body {
    margin: 0%;
    background-image: linear-gradient(-45deg, #000000 0%, #aab9b5 100%);
}

#logoApp {
    margin-left: -55px;
    width: 470px;
    height: 500px;
    margin-top: 100px;
}

#encabezado {
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

#apartados {
    background-color: #484545;
    margin-top: -6px;
}

#linea {
    margin-top: -1px;
    width: 100%;
    height: 10px;
    background-color: black;
}

#bars {
    margin-left: 10px;
    border-radius: 10px;
    font-size: 30px;
}

#opcBar {
    width: 80px;
}

#lab {
    font-size: 30px;
    margin-left: 6px;
    border-radius: 20px;
    color: #65cdb3;
}

#opcLab {
    width: 80px;
    margin-left: 90px;
}



#conect {
    font-size: 30px;
    border-radius: 20px;
    margin-left: 10px;
    color: #65cdb3;
}

#opcConect {
    width: 80px;
    margin-left: 55px;
}

#title {
    margin-top: 10px;
    margin-left: 50px;
    width: 250px;
    height: 25px;
    background-color: antiquewhite;
    border-radius: 10px;
    text-align: center;
}

#title2 {
    margin-top: 10px;
    margin-left: 50px;
    width: 250px;
    height: 25px;
    background-color: antiquewhite;
    border-radius: 10px;
    text-align: center;
}

#temperaturaP {
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 20px;
    width: 125px;
    height: 100px;
    background-image: linear-gradient(-45deg, #6b6897 0%, #8ec3cf 100%);
    border: solid rgb(226, 226, 226) 1px;
}

#humedadP {
    border-radius: 10px;
    border: solid rgb(226, 226, 226) 1px;
    margin-top: 15px;
    margin-left: 20px;
    width: 125px;
    height: 100px;
    background-image: linear-gradient(-45deg, #6b6897 0%, #8ec3cf 100%);
}

#gasP {
    border-radius: 10px;
    border: solid rgb(226, 226, 226) 1px;
    margin-top: 15px;
    margin-left: 20px;
    width: 125px;
    height: 100px;
    background-image: linear-gradient(-45deg, #6b6897 0%, #8ec3cf 100%);
}

#tituloCuadroLuz {
    margin-top: 20px;
    margin-left: 50px;
}

#luzP {
    border-radius: 10px;
    margin-top: -330px;
    margin-left: 160px;
    border: solid rgb(226, 226, 226) 1px;
    width: 180px;
    height: 330px;
    background-image: linear-gradient(-45deg, #6b6897 0%, #8ec3cf 100%);
}

input[type=range][orient=vertical] {
    margin-top: 140px;
    position: absolute;
    margin-left: -50px;
    writing-mode: bt-lr;
    /* IE */
    -webkit-appearance: slider-vertical;
    /* WebKit */
    width: 8px;
    height: 90px;
    padding: 0 5px;
    transform: scale(3);
}

#velocidad {
    border-radius: 20px;
    margin: 10px;
    background-image: linear-gradient(-1deg, #56595b6f 0%, #91878792 100%);
    width: 340px;
    height: 190px;
    border: solid rgb(226, 226, 226) 1px;

}

#vel1 {
    width: 80px;
    height: 40px;
    margin-top: 4px;
    border: solid rgb(226, 226, 226) 1px;
    margin-left: 130px;
    background-color: #c9c6c5;
    background-image: linear-gradient(-1deg, #c5dff0 0%, #acb2b5 100%);
    text-align: center;
    border: none;
    border-radius: 10px;
}

#vel2 {
    width: 80px;
    height: 40px;
    border: solid rgb(226, 226, 226) 1px;
    margin-top: 10px;
    margin-left: 130px;
    background-image: linear-gradient(-1deg, #c5dff0 0%, #acb2b5 100%);
    text-align: center;
    border-radius: 10px;
}

#vel3 {
    width: 80px;
    height: 40px;
    margin-top: 10px;
    margin-left: 130px;
    border: solid rgb(226, 226, 226) 1px;
    background-image: linear-gradient(-1deg, #c5dff0 0%, #acb2b5 100%);
    text-align: center;
    border-radius: 10px;
}

#off {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    margin-top: 5px;
    border: solid rgb(226, 226, 226) 1px;
    margin-left: 111px;
    background-image: linear-gradient(-1deg, #c9aeae 0%, #c7c7bf 100%);

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --accent-color: #fff;
    --gradient-color: #FBFBFB;
}



.sidebar {
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    margin-top: -10px;
    background-image: linear-gradient(-45deg, #41767b 0%, #b0b0b0 100%);
    transition: all .5s ease;
}

.sidebar header {
    font-size: 20px;
    color: #353535;
    line-height: 70px;
    text-align: center;
    background-image: linear-gradient(-45deg, #4f7b84 0%, #4f786e 100%);
    user-select: none;
    font-family: 'Lato', sans-serif;
}

.sidebar a {
    display: block;
    margin-top: 10px;
    width: 100%;
    color: #353535;
    line-height: 65px;
    padding-left: 30px;
    border-left: 5px solid transparent;
    font-family: 'Lato', sans-serif;
    transition: all .5s ease;
    text-decoration: none;
}



#check {
    display: none;
}

label #btn {
    position: relative;
    cursor: pointer;
    color: #70f9c7;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 29px;
    background-color: #729e96;
    box-shadow: inset 2px 2px 2px 0px rgba(19, 108, 92, 0.5),
        inset -7px -7px 10px 0px rgba(0, 0, 0, .1),
        3.5px 3.5px 20px 0px rgba(0, 0, 0, .1),
        2px 2px 5px 0px rgba(0, 0, 0, .1);
    height: 45px;
    width: 45px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    line-height: 45px;
    transition: all .5s ease;
}

label #cancel {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    color: #70f9c7;
    border-radius: 5px;
    font-size: 29px;
    margin-left: -10px;
    height: 700px;
    width: 120px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    line-height: 45px;
    transition: all .5s ease;
}

#check:checked~.sidebar {
    left: 0;
}



#check:checked~label #cancel {
    margin-left: 180px;
    margin-top: -10px;
    opacity: 1;
    visibility: visible;
}


h2 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #a759f5;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    color: #d6adff;
    margin: 0;
}

#extra {
    width: 40px;
    transform: scale(2);
    margin-left: -50px;
    margin-top: 60px;
}

#aspe {
    width: 40px;
    transform: scale(2);
    margin-left: -120px;
    margin-top: 60px;
}

#puerta {
    position: absolute;
    width: 40px;
    transform: scale(2);
    margin-top: 60px;
    left: 50px;

}

#luces {
    position: absolute;
    width: 40px;
    transform: scale(2);
    margin-top: 60px;
    left: 50px;
}

.extractor {
    position: absolute;
    margin-top: 50px;
    margin-left: -70px
}

.aspersor {
    position: absolute;
    margin-top: 90px;
    margin-left: -140px;
    background-color: #000000;
}

.tituloAs {
    position: absolute;
    margin-top: -40px;
    color: #000000;
}